spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: email.exemplo@gmail.com
    password: senha-ficticia-aqui
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000

thymeleaf:
  enabled: true

envio:
  email:
    remetente: email.exemplo@gmail.com
    nomeRemetente: Sistema de Notificações

server:
  port: 8082
